<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="29c28168-8a18-4f0d-b0d9-9a1a10326d84" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="fdbff622-4531-4f4a-a524-756d4a7b3f7d">fullScreenMessage</Composition>
      <Composition Key="8970d63e-70d4-4b11-b576-c0388e87f1dc">hero</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="78c6f3fb-ef16-424d-a22a-f2ac9ac4f7bc">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>