<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="29c28168-8a18-4f0d-b0d9-9a1a10326d84" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="1c35cf90-fcdd-4281-a60f-713bd2e56ee0">featureList</Composition>
      <Composition Key="fdbff622-4531-4f4a-a524-756d4a7b3f7d">fullScreenMessage</Composition>
      <Composition Key="8970d63e-70d4-4b11-b576-c0388e87f1dc">hero</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="78c6f3fb-ef16-424d-a22a-f2ac9ac4f7bc">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e281ea00-dbcf-49f2-9654-68fe53b15319</Key>
      <Name>Feature List Column 1</Name>
      <Alias>featureList</Alias>
      <Definition>a1251487-c1f4-4ef4-9c7e-2c2b2b124972</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="featureList">Feature List</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>36c656db-bd9c-4a48-b2a6-3fcda40d3fc2</Key>
      <Caption>Feature List</Caption>
      <Alias>featureList</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>