<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5ed5acae-36d0-4afc-87be-4a2ef24d717c" Alias="instructionList" Level="2">
  <Info>
    <Name>Instruction List</Name>
    <Icon>icon-thumbnail-list color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>List+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7d9421be-e2c1-486d-927d-a1522867c3f8</Key>
      <Name>Instruction Lists</Name>
      <Alias>instructionLists</Alias>
      <Definition>559967b0-453d-485e-8235-06448db838e6</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="instructionList">Instruction List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2b4dc86f-14a7-4498-a215-ff5667bb1d45</Key>
      <Caption>Instruction List</Caption>
      <Alias>instructionList</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>