<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eb6d8aed-d593-4dd8-b79d-dc979d0d7418" Alias="miscList" Level="2">
  <Info>
    <Name>Misc List</Name>
    <Icon>icon-thumbnail-list color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>List+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>957660b2-ea88-4927-bc97-e10ad1af907e</Key>
      <Name>Misc Lists</Name>
      <Alias>miscLists</Alias>
      <Definition>36c72625-bc61-41b9-824d-dbc4b5826e99</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="miscList">Misc List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d20a4445-fa0f-41ba-8ba5-d75a9deb873a</Key>
      <Caption>Misc List</Caption>
      <Alias>miscList</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
  </Tabs>
</ContentType>