<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="51babc0c-6c97-4fa2-9a10-91e58b2cb980" Alias="pricing" Level="2">
  <Info>
    <Name>Pricing</Name>
    <Icon>icon-bills-dollar color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8970d63e-70d4-4b11-b576-c0388e87f1dc">hero</Composition>
      <Composition Key="2ad896d2-af88-4b14-b379-2de9fd6f56ef">priceList</Composition>
    </Compositions>
    <DefaultTemplate>Pricing</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="20f7553c-caa0-41e8-a5f6-a16ed8346704">Pricing</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>