<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0784fab1-b6f2-48c8-9204-590751028733" Alias="selfHosting" Level="2">
  <Info>
    <Name>Self Hosting</Name>
    <Icon>icon-company color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>SelfHosting</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e7562466-5a35-41b2-8f19-adcd91bdffa3">SelfHosting</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>