<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b54bd9bb-2937-4987-a8b6-eda26d92c406" Alias="signUp" Level="2">
  <Info>
    <Name>Sign Up</Name>
    <Icon>icon-autofill color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8970d63e-70d4-4b11-b576-c0388e87f1dc">hero</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a62f14c9-c606-4e61-a00a-5c83da6f2577">SignUp</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>