@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var fullScreenTextMessage = Model.Value("fullScreenTextMessage");
}

<section class="full-screen-message" 
         style="background-color: #f5f8fa;"
>
    <!--SPACER-->
    <div class="spacer h-48"></div>
    
    <!--CONTENT-->
    <div class="message text-3xl md:text-7xl px-4 md:px-14 font-lexend-deca">
        @fullScreenTextMessage
    </div>  
    
    <!--SPACER-->
    <div class="spacer h-48"></div>
</section>