@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "Master.cshtml";
}

<!--HERO PARTIAL VIEW-->
@await Html.PartialAsync("Compositions/Hero")

<!-- SPLIT -->
<div class="split bg-neutral-100"></div>

<!--FULL SCREEN MESSAGE-->
@await Html.PartialAsync("Compositions/Full Screen Message")

<!--SPLIT-->
<div class="split bg-gradient-to-r from-cyan-100 to-blue-300 px-2 sm:px-6"></div>

<!--FEATURES-->
@await Html.PartialAsync("Compositions/Feature List")

<!--SPLIT-->
<div class="split bg-gradient-to-r from-pink-100 to-yellow-100"></div>

<!--PRICE-->
@await Html.PartialAsync("Compositions/Pricing Widgets")

<!--SPLIT-->
<div class="split bg-gradient-to-r from-indigo-100 via-purple-100 to-pink-100"></div>

<!--MISC-->
@await Html.PartialAsync("Compositions/Misc")

<!--SPLIT-->
<div class="split bg-neutral-800"></div>
