@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!doctype html>
<html lang="en">
    <head>
        @await Html.PartialAsync("Layouts/Head/Title")
        @await Html.PartialAsync("Layouts/Head/Favicons")
        @await Html.PartialAsync("Layouts/Head/Styles")
        @await Html.PartialAsync("Layouts/Head/Fonts")
        @await Html.PartialAsync("Layouts/Head/Meta")
    </head>
    <body class="p-0 m-0">
        @await Html.PartialAsync("Layouts/Header")
        @RenderBody()
        @await Html.PartialAsync("Layouts/Footer")
    </body>
</html>
