@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href='@Url.Content("~/css/nearbeach.css")' />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&family=Pacifico&display=swap&family=Raleway+Dots&display=swap" rel="stylesheet"> 
    </head>
    <body>
        @RenderBody()
    </body>
</html>
