@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "Master.cshtml";
}

<!--HERO PARTIAL VIEW-->
@await Html.PartialAsync("Compositions/Hero")

<!-- SPLIT -->
<div class="split bg-neutral-100"></div>

<!--COMING SOON-->
<section class="text-gray-600 bg-neutral-100 body-font">
    <div class="container px-5 py-24 mx-auto pb-36">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">SIGN UP</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Coming Soon.</p>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                We are currently building the tools to create this sign up process. We are sorry for the wait.
            </p>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                If you would like to watch us build this tool - why not watch the <a class="text-sky-600" href="https://twitch.tv/robotichead" target="_blank" rel="nofollow"> twitch stream</a>
            </p>
        </div>
    </div>
</section>

<!-- SPLIT -->
<div class="split bg-neutral-800"></div>