<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56e20669-0dd2-4797-a7a8-d30ca3e491ee" Alias="Header with Text Multinode Treepicker" Level="1">
  <Info>
    <Name>Header with Text Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/fe20ea07580344c29f4509c3fab4e15e"
  },
  "Filter": "headerWithText",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>