<?xml version="1.0" encoding="utf-8"?>
<DataType Key="66171c7a-e815-47bf-b970-b8d5908f5c1b" Alias="Hero - Background Colour - Color Picker" Level="1">
  <Info>
    <Name>Hero - Background Colour - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "UseLabel": false,
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"57a2e7\",\"label\":\"57a2e7\"}"
    }
  ]
}]]></Config>
</DataType>