<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1251487-c1f4-4ef4-9c7e-2c2b2b124972" Alias="Home - Feature List - Block List" Level="1">
  <Info>
    <Name>Home - Feature List - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "1c35cf90-fcdd-4281-a60f-713bd2e56ee0",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Feature List",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>