<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81015cd1-afe7-484d-8f24-cc5c9d7952e0" Alias="Home - Content Blocks - Block List" Level="1">
  <Info>
    <Name>Home - Content Blocks - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "1c35cf90-fcdd-4281-a60f-713bd2e56ee0",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "ARGh",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>