<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90d536de-0199-47a6-918d-0a2710558d08" Alias="Information List - Information Lists - Block List" Level="1">
  <Info>
    <Name>Information List - Information Lists - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "51c9ec34-6abb-4be6-b309-94c791e86fe9",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>