<?xml version="1.0" encoding="utf-8"?>
<DataType Key="559967b0-453d-485e-8235-06448db838e6" Alias="Instruction List - Instruction Lists - Block List" Level="1">
  <Info>
    <Name>Instruction List - Instruction Lists - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "bcb95f7f-74b5-4e9f-acaf-c3985bcfb6aa",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>