<?xml version="1.0" encoding="utf-8"?>
<DataType Key="36c72625-bc61-41b9-824d-dbc4b5826e99" Alias="Misc List - Misc Lists - Block List" Level="1">
  <Info>
    <Name>Misc List - Misc Lists - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "2d3e168d-d4c8-4759-955c-aacfec8e628c",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Misc Information",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>