<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2cf03117-cc48-40f4-a3d3-f583194044a0" Alias="Price List - Price List - Block List" Level="1">
  <Info>
    <Name>Price List - Price List - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "0dfc94e2-e981-4d96-87f0-5e5f2490aa4f",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Price Information",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>