<?xml version="1.0" encoding="utf-8"?>
<DataType Key="150e5e99-04c1-4a07-bd48-b745f8d2d1c1" Alias="Price Information - Price Feature List - Block List" Level="1">
  <Info>
    <Name>Price Information - Price Feature List - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "d91db431-3135-4161-b6cc-4dff2b1ab22c",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Single Price Feature",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>