<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cff26c72-ac57-4b32-b2a0-a4103a1168db" Alias="Pricing - Price Value - Slider" Level="1">
  <Info>
    <Name>Pricing - Price Value - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": true,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MinimumValue": 0.0,
  "MaximumValue": 100.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>