<?xml version="1.0" encoding="utf-8"?>
<Media Key="54323354-ce9f-4df8-94e9-aa0b8d8cc25d" Alias="Browser Stack Logo" Level="2">
  <Info>
    <Parent Key="58982244-0cb0-4985-b677-03b54eb513bf">Logos</Parent>
    <Path>/Logos/BrowserStackLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-04T11:57:28</CreateDate>
    <NodeName Default="Browser Stack Logo" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kizdeve5/browser_stack-c59291d80aa9fc1d2a9358d800f36a6dca8b54e51298c89cda0be629e3ccf8b9.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>