<?xml version="1.0" encoding="utf-8"?>
<Media Key="109ab169-6894-4c53-acc8-cdaa333d2216" Alias="Fav icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FavIcons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-31T11:46:20</CreateDate>
    <NodeName Default="Fav icons" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>