<?xml version="1.0" encoding="utf-8"?>
<Media Key="714b5f35-4f41-4259-a6d5-cac0979b13da" Alias="Hero Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-31T15:59:23</CreateDate>
    <NodeName Default="Hero Images" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>