<?xml version="1.0" encoding="utf-8"?>
<Media Key="54d2e9be-75d9-4305-b137-4ca63ace75e9" Alias="Mobile Banner Screenshot" Level="2">
  <Info>
    <Parent Key="5fa3a946-39cc-47ba-825a-e9fc6a9f97e7">Screenshots</Parent>
    <Path>/Screenshots/MobileBannerScreenshot</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T18:19:10</CreateDate>
    <NodeName Default="Mobile Banner Screenshot" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xdunevgz/screen-shot-2022-08-02-at-181202.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>