<?xml version="1.0" encoding="utf-8"?>
<Media Key="6eded3e3-3f31-4720-a6f1-ab5e1a364712" Alias="Mud and Hurmit Crab" Level="2">
  <Info>
    <Parent Key="714b5f35-4f41-4259-a6d5-cac0979b13da">Hero Images</Parent>
    <Path>/HeroImages/MudAndHurmitCrab</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-31T13:57:21</CreateDate>
    <NodeName Default="Mud and Hurmit Crab" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2xjn21rr/nearbeach-hero-image.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>