<?xml version="1.0" encoding="utf-8"?>
<Media Key="41f8a3a3-be81-434a-bc90-3c1c3c0ac48a" Alias="NearBeach SVG" Level="2">
  <Info>
    <Parent Key="58982244-0cb0-4985-b677-03b54eb513bf">Logos</Parent>
    <Path>/Logos/NearBeachSVG</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-08-03T16:40:17</CreateDate>
    <NodeName Default="NearBeach SVG" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xorpqqmb/nearbeach_logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>