<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bea6ca5-5886-41b2-8253-943f1d2bcc92" Alias="Octocat" Level="2">
  <Info>
    <Parent Key="58982244-0cb0-4985-b677-03b54eb513bf">Logos</Parent>
    <Path>/Logos/Octocat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-04T11:57:45</CreateDate>
    <NodeName Default="Octocat" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/unwou42g/octocat-afa1756258addddbb94fe5e6eccb2a31cabcb385a6ddee4554336c9088c8ee16.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>