<?xml version="1.0" encoding="utf-8"?>
<Media Key="e32682ff-c58e-4fd4-bd4d-6315fdc61996" Alias="Sand and Hurmit Crab" Level="2">
  <Info>
    <Parent Key="714b5f35-4f41-4259-a6d5-cac0979b13da">Hero Images</Parent>
    <Path>/HeroImages/SandAndHurmitCrab</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-31T16:00:15</CreateDate>
    <NodeName Default="Sand and Hurmit Crab" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoAlt>
      <Value><![CDATA[Hermit Crab - background]]></Value>
    </umbracoAlt>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5gbcny2o/hermit_crab.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>