<?xml version="1.0" encoding="utf-8"?>
<Media Key="5fa3a946-39cc-47ba-825a-e9fc6a9f97e7" Alias="Screenshots" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshots</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-31T16:03:13</CreateDate>
    <NodeName Default="Screenshots" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>