<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcd10d27-f8b4-4031-8d1a-127b88cd2314" Alias="Tablet Banner Screenshot" Level="2">
  <Info>
    <Parent Key="5fa3a946-39cc-47ba-825a-e9fc6a9f97e7">Screenshots</Parent>
    <Path>/Screenshots/TabletBannerScreenshot</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T18:11:11</CreateDate>
    <NodeName Default="Tablet Banner Screenshot" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoAlt>
      <Value><![CDATA[NearBeach Tablet screenshot]]></Value>
    </umbracoAlt>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/eegndpfu/screen-shot-2022-08-02-at-181005.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>