<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe20ea07-5803-44c2-9f45-09c3fab4e15e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-07-30T22:25:55</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="78c6f3fb-ef16-424d-a22a-f2ac9ac4f7bc">Home</Template>
  </Info>
  <Properties>
    <backgroundColourBottom>
      <Value><![CDATA[rgba(141, 3, 47, 0.6)]]></Value>
    </backgroundColourBottom>
    <backgroundColourTop>
      <Value><![CDATA[rgba(5, 59, 153, 0.5)]]></Value>
    </backgroundColourTop>
    <backgroundImage>
      <Value><![CDATA[[
  {
    "key": "5dbf6de1-f04d-469c-a8db-5ad4b7d7c8fc",
    "mediaKey": "e32682ff-c58e-4fd4-bd4d-6315fdc61996"
  }
]]]></Value>
    </backgroundImage>
    <desktopImage>
      <Value><![CDATA[[
  {
    "key": "bca882f4-e724-4a37-829a-031dfa505662",
    "mediaKey": "b3e74949-cc8e-48e0-85a2-f2c33d827ef5"
  }
]]]></Value>
    </desktopImage>
    <fullScreenTextMessage>
      <Value><![CDATA[Welcome to NearBeach. We are a small community of developers trying to make tools to help you manage your projects. Why not join our community and we can build the tools that you require.]]></Value>
    </fullScreenTextMessage>
    <headerCopy>
      <Value><![CDATA[An open source project management system, created by the community]]></Value>
    </headerCopy>
    <headerText>
      <Value><![CDATA[NearBeach]]></Value>
    </headerText>
    <mobileImage>
      <Value><![CDATA[[]]]></Value>
    </mobileImage>
    <tabletImage>
      <Value><![CDATA[[]]]></Value>
    </tabletImage>
  </Properties>
</Content>