<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c47cfa5-444a-42df-8d0f-eaaf515d704a" Alias="Self Hosting" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SelfHosting</Path>
    <Trashed>false</Trashed>
    <ContentType>selfHosting</ContentType>
    <CreateDate>2022-08-04T11:54:49</CreateDate>
    <NodeName Default="Self Hosting" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e7562466-5a35-41b2-8f19-adcd91bdffa3">SelfHosting</Template>
  </Info>
  <Properties />
</Content>