<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c47cfa5-444a-42df-8d0f-eaaf515d704a" Alias="Self Hosting" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SelfHosting</Path>
    <Trashed>false</Trashed>
    <ContentType>selfHosting</ContentType>
    <CreateDate>2022-08-04T11:54:49</CreateDate>
    <NodeName Default="Self Hosting" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e7562466-5a35-41b2-8f19-adcd91bdffa3">SelfHosting</Template>
  </Info>
  <Properties>
    <backgroundColourBottom>
      <Value><![CDATA[rgba(161, 96, 222, 0.53)]]></Value>
    </backgroundColourBottom>
    <backgroundColourTop>
      <Value><![CDATA[rgba(188, 188, 188, 0.175)]]></Value>
    </backgroundColourTop>
    <backgroundImage>
      <Value><![CDATA[[
  {
    "key": "9a0dbcce-f1ce-4bcc-babc-eabb1500c262",
    "mediaKey": "6eded3e3-3f31-4720-a6f1-ab5e1a364712"
  }
]]]></Value>
    </backgroundImage>
    <desktopImage>
      <Value><![CDATA[[
  {
    "key": "0c2e6014-fcdb-4572-ade1-da18f3c21aee",
    "mediaKey": "b3e74949-cc8e-48e0-85a2-f2c33d827ef5"
  }
]]]></Value>
    </desktopImage>
    <headerCopy>
      <Value><![CDATA[Host your own instance of NearBeach in Docker]]></Value>
    </headerCopy>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "3783f460-344a-4e37-a7f0-5a99bf3bd7a3",
    "mediaKey": "41f8a3a3-be81-434a-bc90-3c1c3c0ac48a"
  }
]]]></Value>
    </headerLogo>
    <headerText>
      <Value><![CDATA[Self Hosting]]></Value>
    </headerText>
    <instructionLists>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1c4fcbff774a4eaeb394f9cfb45c8fda"
      },
      {
        "contentUdi": "umb://element/f8ca3da4b106434bba5a07a708aed45e"
      },
      {
        "contentUdi": "umb://element/37f114432fed41f1945e1c8ea6caa1d9"
      },
      {
        "contentUdi": "umb://element/a7aa4f59505343e993d8c6f085dbe87b"
      },
      {
        "contentUdi": "umb://element/50dee08e4da54441b65c3bba933e955a"
      },
      {
        "contentUdi": "umb://element/0bfd454a2b4e482086fe7cb6771a9c5c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bcb95f7f-74b5-4e9f-acaf-c3985bcfb6aa",
      "udi": "umb://element/1c4fcbff774a4eaeb394f9cfb45c8fda",
      "instructionHeader": "Step 1",
      "instructionText": "Please copy the example code into a text editor of your choice",
      "instructionLogo": "fa-solid fa-starfighter"
    },
    {
      "contentTypeKey": "bcb95f7f-74b5-4e9f-acaf-c3985bcfb6aa",
      "udi": "umb://element/f8ca3da4b106434bba5a07a708aed45e",
      "instructionHeader": "Step 2",
      "instructionText": "Please fill out the appropriate details for the following fields;<br />\n- SMTP_EMAIL_HOST<br />\n- SMTP_EMAIL_PORT<br />\n- SMTP_EMAIL_HOST_USER<br />\n- SMTP_EMAIL_HOST_PASSWORD<br />\n- ADMIN_USERNAME<br />\n- ADMIN_EMAIL\n",
      "instructionLogo": "fa-solid fa-starfighter-twin-ion-engine-advanced"
    },
    {
      "contentTypeKey": "bcb95f7f-74b5-4e9f-acaf-c3985bcfb6aa",
      "udi": "umb://element/37f114432fed41f1945e1c8ea6caa1d9",
      "instructionHeader": "Step 3",
      "instructionText": "Fill out the following field with the domain you are going to use for your NearBeach Instance;<br />\n- CSRF_TRUSTED_URLS=https://yourdomain.com.au <br />\nPlease note the https - it is recommended to use https when using NearBeach.",
      "instructionLogo": "fa-solid fa-starship-freighter"
    },
    {
      "contentTypeKey": "bcb95f7f-74b5-4e9f-acaf-c3985bcfb6aa",
      "udi": "umb://element/50dee08e4da54441b65c3bba933e955a",
      "instructionHeader": "Step 5",
      "instructionText": "Save the file in an appropriate location called \"docker-compose.yml\""
    },
    {
      "contentTypeKey": "bcb95f7f-74b5-4e9f-acaf-c3985bcfb6aa",
      "udi": "umb://element/0bfd454a2b4e482086fe7cb6771a9c5c",
      "instructionHeader": "Step 6",
      "instructionText": "Using a terminal, change directory to the location that you stored the docker-compose file. Run the following command: \"docker-compose up -D\""
    },
    {
      "contentTypeKey": "bcb95f7f-74b5-4e9f-acaf-c3985bcfb6aa",
      "udi": "umb://element/a7aa4f59505343e993d8c6f085dbe87b",
      "instructionHeader": "Step 4",
      "instructionText": "Please fill out the appropriate details for the following fields. Please note there are two of the same field, and they will need the same values;<br />\n- MYSQL_DATABASE<br />\n- MYSQL_USER<br />\n- MYSQL_PASSWORD<br />"
    }
  ],
  "settingsData": []
}]]></Value>
    </instructionLists>
    <mobileImage>
      <Value><![CDATA[[
  {
    "key": "52856218-0808-42a5-828a-624d1987290d",
    "mediaKey": "54d2e9be-75d9-4305-b137-4ca63ace75e9"
  }
]]]></Value>
    </mobileImage>
    <tabletImage>
      <Value><![CDATA[[
  {
    "key": "4733f16b-79c1-4508-8a62-0c3929a84dd3",
    "mediaKey": "bcd10d27-f8b4-4031-8d1a-127b88cd2314"
  }
]]]></Value>
    </tabletImage>
  </Properties>
</Content>