<?xml version="1.0" encoding="utf-8"?>
<Content Key="d308efb9-e4a1-4343-9612-201b88356c9e" Alias="Sign Up" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SignUp</Path>
    <Trashed>false</Trashed>
    <ContentType>signUp</ContentType>
    <CreateDate>2022-08-28T15:51:42</CreateDate>
    <NodeName Default="Sign Up" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a62f14c9-c606-4e61-a00a-5c83da6f2577">SignUp</Template>
  </Info>
  <Properties>
    <backgroundColourBottom>
      <Value><![CDATA[rgba(255, 242, 204, 0.52)]]></Value>
    </backgroundColourBottom>
    <backgroundColourTop>
      <Value><![CDATA[rgba(207, 226, 243, 0.525)]]></Value>
    </backgroundColourTop>
    <backgroundImage>
      <Value><![CDATA[[
  {
    "key": "cd203dc0-a650-406e-97f2-37b4a39bbd6e",
    "mediaKey": "6eded3e3-3f31-4720-a6f1-ab5e1a364712"
  }
]]]></Value>
    </backgroundImage>
    <desktopImage>
      <Value><![CDATA[[
  {
    "key": "be53ab69-de52-440a-9987-a92ea170b8dd",
    "mediaKey": "b3e74949-cc8e-48e0-85a2-f2c33d827ef5"
  }
]]]></Value>
    </desktopImage>
    <headerCopy>
      <Value><![CDATA[]]></Value>
    </headerCopy>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "a122df10-1ec8-4336-9239-664a92f31be0",
    "mediaKey": "41f8a3a3-be81-434a-bc90-3c1c3c0ac48a"
  }
]]]></Value>
    </headerLogo>
    <headerText>
      <Value><![CDATA[Sign Up]]></Value>
    </headerText>
    <mobileImage>
      <Value><![CDATA[[
  {
    "key": "b5d824d3-c47f-471a-b0c5-bf4e662aa4f5",
    "mediaKey": "54d2e9be-75d9-4305-b137-4ca63ace75e9"
  }
]]]></Value>
    </mobileImage>
    <tabletImage>
      <Value><![CDATA[[
  {
    "key": "f1d0b861-d9e3-473a-9681-9ec386d5d370",
    "mediaKey": "bcd10d27-f8b4-4031-8d1a-127b88cd2314"
  }
]]]></Value>
    </tabletImage>
  </Properties>
</Content>