@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.hero-background {
    background-size: cover;
    background-position: center top;
}

.header-text {
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.header-copy {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.chrome::before {
    content: '\f053 \f054 \f021';
    left: 0.75em;
    letter-spacing: 0.85em;
    text-align: left;
}

.chrome::after {
    content: '\f077 \f078 \f00d';
    letter-spacing: 0.65em;
    right: 0.75em;
    text-align: right;
    text-indent: 0.75em;
}

.chrome::after, .chrome::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #bbb;
    cursor: default;
    display: block;
    font-family: FontAwesome;
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    height: inherit;
    line-height: inherit;
    overflow: hidden;
    width: 5em;
}

.split {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 100%);
    height: 6em;
    width: 100vw;
    margin-top: -6em;
    display: block;
    position: relative;
    z-index: 1;
}

.highlight-text::before {
    display: block;
    position: absolute;
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
}

.highlight-text {
    @apply before:block before:absolute before:-inset-1 before:-skew-y-2 before:bg-yellow-200 relative inline-block;
}

.highlight-text > span {
    @apply relative text-black;
}